<% provide(:title, "Edit Condition") %>
<% provide(:path, user_condition_path(current_user, @condition)) %>
<div class="row justify-content-center">
  <div class="col-md-6">
    <%= render 'form'%>
  </div>
</div>