<% provide(:title, "Update") %>
<h1>アップデート情報</h1>

<div class="update_info"><i>[ β ver.0.6.3 ] 2020.06.17 update</i></div>
<ul class="update_list">
  <li><p>ユーザーのHomeページのツイート一覧に、フォローしたユーザーのツイートの内容も表示されるように変更しました。</p></li>
  <li><p>ログイン後の表示画面をユーザープロフィール画面から上記のユーザーのHomeページ画面を表示するように変更しました。</p></li>
  <li><p>ツイート一覧で表示されるツイートの内容に投稿時間の記載と、ツイートの文字を大きく表示するように変更しました。</p></li>
</ul>



  <div class="update_info"><i>[ β ver.0.6.2 ] 2020.06.15 update</i></div>
  <ul class="update_list">
    <li><p>他のユーザーをフォローする、フォローを解除する機能を追加しました。</p></li>
    <li><p>アップデート情報ページを追加しました。</p></li>
  </ul>
