<% provide(:title, "Edit Calendar") %>
<% provide(:path, user_meeting_path(current_user.id)) %>
<h1>予定編集</h1>

<%= render 'form', meeting: @meeting %>

<%= link_to 'Show', user_meeting_path(current_user, @meeting) %> |
<%= link_to 'Back', user_meetings_path %>
