<li>
  <% if user.icon.present? %>
    <div class="icon">
      <%= link_to image_tag("#{user.icon}", size: 50), user %>
    </div>
  <% else %>
        <%= link_to gravatar_for(user, size: 50 ), user %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
   | <%= link_to "delete", user, method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
