<% if @user != current_user %>
  <% if @user.active_relationships.find_by(followed_id: current_user.id) %>
    <div class="margin_top10"></div>
    <div class="stats">
      <%= link_to "カレンダー", user_events_path(params[:id])%>
    </div>
  <% end %>
<% end %>