<% @user ||= current_user %>
<div class="margin_top10"></div>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    フォロー (
    <strong id="following" class="stat" >
      <%= @user.following.count %>
    </strong>
    )
  </a>
</div>
<div class="margin_top5"></div>
<div class="stats">
  <a href="<%= followers_user_path(@user) %>">
    フォロワー (
    <strong id="followers" class="stat" >
      <%= @user.followers.count %>
    </strong>
    )
  </a>
</div>
