<% provide(:title, "Edit Calendar") %>

<% provide(:path,  event_path(@event.id)) %>
<h1>予定編集</h1>

<%= render 'form', event: @event %>

<%= link_to '詳細', event_path(@event.id) %> |
<%= link_to '戻る', events_path %>