<% provide(:title, "Calendar") %>
<div id='calendar-container'>
  <div class="row">
    <div id='calendar'></div>
  </div>
</div>
<%= link_to(new_user_event_path(current_user), class:"new_link") do %>
  <div class="fixed"><i class="fas fa-plus"></i></div>
<% end %>