html {
  font-size: 10px;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family: 'csb';
  src: asset_url('CabinSketch-Bold.ttf');
}

.csb {
  font-family: 'csb';
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {

  text-align: center;
}
h2 {
  text-align: center;
  font-weight: normal;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
h6 {
  font-size: 1.2em;
  margin: -20px 0 10px 15px;
  color: gray;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* universal */

body {
  padding-top: 45px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 45px;
  @include box_sizing;
}

/* header */

#logo {
  font-size: 2em;
  color: red;
  letter-spacing: 2px;
  font-family: 'csb';
  &:hover {
    color: red;
    text-decoration: none;
  }
}
.ver {
  font-size: 0.8em;
  font-weight: bold;
}
.menu {
  height: 40px;
  padding-top: 15px;
  i {
    color: black;
    transform: scaleX(1.5);
    font-size: 2em;
  }
}
.menu_login {
  font-size: 1.5em;
  font-weight: bold;
  height: 40px;
}
#dropdown-menu {
  margin-top: 0.6em;
}
.menu_list {
    font-size: 2em;
}
.notice {
  color: #e8e8e8;
  &:hover {
    color: #e8e8e8;
    text-decoration: none;
  }
}

/* footer */

footer {
  clear: both;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #e8e8e8;
  color: #e8e8e8;
  margin-bottom: 100px;
  margin-right: 0;
  a {
    color: gray;
    &:hover {
      color: #e8e8e8;
    }
  }
  i {
    color: #e8e8e8;
  }
  small {
    margin-right: 0;
    float: left;
  }
  textarea {
    height: 10rem;
  }
}
footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.pen {
  font-size: 1.8em;
}
.bell {
  color: #e8e8e8;
  font-size: 1.3em;
  margin-top: 12px;
  margin-bottom: -5px;
}
.fa_maru {
  font-size: 1em;
  position: absolute;
  padding-left: 1.3em;
  padding-top: 0;
  color: #efa04c;
}

/* home */

.bg {
  background: linear-gradient(to right, #b6f0ff8e, #f53a3a31);
}
.guest_btn {
  border: solid #6AC1B7 1px;
  border-radius: 5px;
  background-color: #6AC1B7;
  box-shadow: 1px 1px 5px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.guest_btn_link {
  color: white;
  &:hover {
    color: #517D99;
    text-decoration: none;
  }
}
.signup_btn {
  border: solid #6088C6 1px;
  border-radius: 5px;
  background-color: #6088C6;
  box-shadow: 1px 1px 5px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.signup_btn_link {
  color: white;
  &:hover {
    color: #67C7D4;
    text-decoration: none;
  }
}
.login_btn {
  border: solid #EB8686 1px;
  border-radius: 5px;
  background-color: #EB8686;
  box-shadow: 1px 1px 5px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.login_btn_link {
  color: white;
  &:hover {
    color: #E85A70;
    text-decoration: none;
  }
}
.info_top {
  border: 1px solid black;
  height: 250px;
}
.info_f2 {
  background: #f2f2f2;
  height: 300px;
}
.infoimg_f2 {
  background: #f2f2f2;
  max-height: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.info_w {
  height: 300px;
}
.infoimg_w {
  max-height: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.info_title {
  font-size: 3rem;
  text-align: center;
}
.info_text {
  font-size: 2.5em;
}


/* update */

.update_ul {
  list-style-type: square;
  padding-left: 10px;
}
.update_info {
  font-size: 1.4em;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.update_list {
  font-size: 0.9em;
  list-style-type: disc;
  padding-left: 10px;
}

/* all icon code */

.icon_info {
  text-align: center;
  font-size: 1.4em;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.icon_box {
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: flex;
}
.a1 {
  font-size: 30px;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 90px;
  margin: 0px 20px 120px 20px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.user_margin {
  margin-top: 15px;
}
.gravatar {
  border-radius: 50%;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
.field {
  font-weight: bold;
  margin-top: 8px;
  span {
  color: red;
  }
}
.actions {
  margin-top: 10px;
  margin-bottom: 10px;
}
input {
  height: auto !important;
}
label {
  margin: 5px 0;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
input[type="radio"] {
  width: 15px;
}
.radio_label {
  margin-right:15px;
  margin-left: 5px;
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  // @extend .has-error;
  .form-control {
    color: red;
  }
}

/*  Users index */

.user_follow  {
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    font-size: 1.5rem;
    margin-top: 10px;
    padding-top: 0;
  }
  .content {
    display: block;
    font-size: 1.5rem;
    padding-bottom: 5px;
    margin-left: 58px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    font-size: 1rem;
    margin-left: 5px;
  }
  .like {
    display: block;
    color: gray;
    font-size: 1.5rem;
    margin-left: 58px;
  }
  .delete {
    display: block;
    float: right;
    font-size: 1rem;
    margin-top: 10px;
  }
  .gravatar {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
  }
  .icon {
    float: left;
    margin-right: 8px;
    margin-top: 15px;
  }
}

.icon {
  float: left;
  margin-right: 15px;
}
.icon_notice {
  float: left;
  margin-right: 5px;
}
aside {
  textarea {
    height: 5em;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.stats {
  padding: 0;
  margin: 0;
}

/* conditions */

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 95vw;
}
.condition_day {
  padding-top: 5px;
  border-top: 1px solid #e8e8e8;
}
.condition_text {
  font-size: 1.3rem;
}
.condition_memo {
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 15px;
}

.day_border {
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  font-size: 1.1rem;
  color: #628ddb;
  font-weight: bold;
}
.day_border_b {
  border-bottom: 1px solid gainsboro;
  font-size: 1.1rem;
  font-weight: bold;
}
.name_border_b {
  border-bottom: 1px solid gainsboro;
  font-weight: bold;
}
.users_condition {
  margin: 0 8px;
}

/* calendars */

.calendar_new{
  border: solid #628ddb 1px;
  border-radius: 5px;
  background-color: #6495ED;
  box-shadow: 1px 1px 5px #628ddb;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.calrendar_new_link {
  color: white;
  &:hover {
    color: #67C7D4;
    text-decoration: none;
  }
}
.fc-sun {
  color: red;
  background-color: #fff0f0;
}
.fc-sat {
  color: blue;
  background-color: #fff0f0;
}
#calendar {
 width: 100%;
 padding-left: 5px;
padding-right: 5px;
}

/* tasks */

.task_container {
  border-radius: 5px;
  border: solid #B2E2EC 1px;
  background: linear-gradient(to right, #b6f0ff8e, #f53a3a31);
  box-shadow:0px 0px 10px;
}
.list_title {
  font-size: 2rem;
  font-weight: bold;
}
.todo_row {
  border-radius: 5px;
  background-color: white;
  border: solid 1px white;
  box-shadow:0px 0px 5px ;
}
.task_circle {
  line-height: 2.2rem;
}
.task_title {
  font-size: 1.5rem;
}
.done_row {
  border-radius: 5px;
  border: solid 1px #B2E2EC;
  box-shadow:2px 2px 5px inset;
}
.task_icon {
  text-align: right;
  letter-spacing: 2rem;
}
.task_link_check {
  color: blue;
  &:hover {
    color: rgba(0, 0, 255, 0.404);
    text-decoration: none;
  }
}
.task_link_uncheck {
  color: rgba(0, 0, 255, 0.411);
  &:hover {
    color: rgba(0, 0, 255, 0.178);
    text-decoration: none;
  }
}
.task_link_edit {
  color: green;
  &:hover {
    color: rgba(0, 128, 0, 0.473);
    text-decoration: none;
  }
}
.task_link_delete {
  color: red;
  &:hover {
    color: rgba(255, 0, 0, 0.486);
    text-decoration: none;
  }
}

 /* new create button */

.new_link {
  color:#67C7D4;
  &:hover {
    color: #6088C6;
    text-decoration: none;
  }
}
.fixed {
  z-index: 10;
  border: solid #6ab7cae5 1px;
  border-radius: 50%;
  background: linear-gradient(to right, #b6f0ff8e, #f53a3a31);
  box-shadow:3px 3px 5px;
  position: fixed;
  bottom: 50px; 
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  }