html {
  font-size: 10px;
}

/* mixins, variables, etc. */

// $#e8e8e8-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 95vw;
}


.fc-sun {
  color: red;
  background-color: #fff0f0;
}
.fc-sat {
  color: blue;
  background-color: #fff0f0;
}
#calendar {
 width: 100%;
 padding-left: 5px;
padding-right: 5px;
}
// .fc-day.fc-today {
//   position: relative;
// }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

h6 {
  font-size: 1.2em;
  margin: -20px 0 10px 15px;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.margin_top5 {
  margin-top: 5px;
}
.margin_top10 {
  margin-top: 10px;
}

// header SS
// .hesder_ul {
//   margin: 0;
// }
// .navbar-nav {
//   margin: 0;
// }

#logo {
  // margin-right: 5px;
  font-size: 2em;
  color: red;
  letter-spacing: 2px;
  // padding-top: 4px;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}
.ver {
  // clear: both;
  // float: right;
  // margin-left: 20px;
  font-size: 0.8em;
  font-weight: bold;
  // margin-top: -5px;
}
.menu {
  // width: 60px;
  height: 40px;
  padding-top: 15px;
  i {
    color: black;
    transform: scaleX(1.5);
    font-size: 2em;
    // margin: auto;
  }
}
.menu_login {
  font-size: 1.5em;
  font-weight: bold;
  // width: 120px;
  height: 40px;
  // display: flex;
  // float: right;
}
#dropdown-menu {
  margin-top: 0.6em;
}
.menu_list {
    font-size: 2em;
}




// // header 

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 2em;
//   color: white;
//   letter-spacing: 2px;
//   padding-top: 4px;
//   font-weight: bold;
//   &:hover {
//     color: white;
//     text-decoration: none;
//   }
// }
// .ver {
//   float: left;
//   font-size: 1.2em;
//   padding-top: 15px;
//   font-weight: bold;
// }
// .menu {
//   width: 60px;
//   height: 40px;
//   display: flex;
//   float: right;
//   margin-top: -10px;
//   i {
//     color: white;
//     transform: scaleX(1.5);
//     font-size: 2em;
//     margin: auto;
//   }
// }
// .menu_login {
//   font-size: 1.5em;
//   font-weight: bold;
//   width: 120px;
//   height: 40px;
//   display: flex;
//   float: right;
// }
// #dropdown-menu {
//   margin-top: 0.4em;
// }
// .menu_list {
//     font-size: 2em;
// }

// .bell {
//   font-size: 1.4em;
//   width: 60px;
//   height: 40px;
//   float: right;
//   margin-top: -3px;
//   margin-right: 5px;
// }

// .fa_maru {
//   font-size: 1em;
//   position: absolute;
//   padding-left: 1.3em;
//   padding-top: 0;
//   color: #efa04c;
// }

/* footer */

footer {
  clear: both;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #e8e8e8;
  color: #e8e8e8;
  margin-bottom: 100px;
  margin-right: 0;
  a {
    color: gray;
    &:hover {
      color: #e8e8e8;
    }
  }
  i {
    color: #e8e8e8;
  }
  small {
    margin-right: 0;
    float: left;
  }
  textarea {
    height: 10rem;
  }
}

footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
footer li {
  height: 40px;
}

.pen {
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: -2px;
}

.bell {
  color: #e8e8e8;
  font-size: 1.4em;
  margin-top: 12px;
  margin-bottom: -5px;
}

.fa_maru {
  font-size: 1em;
  position: absolute;
  padding-left: 1.3em;
  padding-top: 0;
  color: #efa04c;
}

/* navbar bottom */

// #nav01 ul {
//   margin: 0;
//   overflow: hidden;
//   border-right: none;
//   display: flex;
// }

// #nav01 ul .navli1 {
//   float: left;
//   width: 25%;
//   height: 50px;
//   text-align: center;
// }

// #nav01 ul .navli2 {
//   float: right;
//   width: 25%;
//   text-align: center;
// }


/* update */

.update_ul {
  list-style-type: square;
  padding-left: 10px;
}

.update_info {
  font-size: 1.4em;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-bottom: 5px;
  padding-top: 5px;

}

.update_list {
  font-size: 0.9em;
  list-style-type: disc;
  padding-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* all icon code */

.icon_box {
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: flex;
}

.a1 {
  font-size: 30px;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 90px;
  margin: 0px 20px 120px 20px;
}



/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.user_margin {
  margin-top: 15px;
}

.gravatar {
  border-radius: 50%;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.field {
  font-weight: bold;
  margin-top: 8px;
  span {
  color: red;
  }
}

.actions {
  margin-top: 10px;
  margin-bottom: 10px;
}


input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // @extend .has-error;
  .form-control {
    color: red;
    // color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

input[type="radio"] {
  width: 15px;
}

.radio_label {
  margin-right:15px;
  margin-left: 5px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*  Users index */

.user_follow  {
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
}


// /* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    font-size: 1.5rem;
    margin-top: 10px;
    padding-top: 0;
  }
  .content {
    display: block;
    font-size: 1.5rem;
    padding-bottom: 5px;
    margin-left: 58px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    // color: $#e8e8e8-light;
    font-size: 1rem;
    margin-left: 5px;
  }
  .like {
    display: block;
    color: gray;
    // color: $#e8e8e8-light;
    font-size: 1.5rem;
    margin-left: 58px;
  }
  .delete {
    display: block;
    float: right;
    font-size: 1rem;
    margin-top: 10px;
  }
  .gravatar {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
  }
  .icon {
    float: left;
    margin-right: 8px;
    margin-top: 15px;
  }
}

.icon {
  float: left;
  margin-right: 15px;
}

.icon_notice {
  float: left;
  margin-right: 5px;
}

aside {
  textarea {
    height: 5em;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}



.stats {
  padding: 0;
  margin: 0;
}

 /* microposts */

// .microposts {
//   list-style: none;
//   padding: 0;
//   li {
//     padding: 10px 0;
//     border-top: 1px solid #e8e8e8;
//   }
//   .user {
//     font-size: 3.5rem;
//     margin-top: 10px;
//     padding-top: 0;
//     margin-left: 10px;
//   }
//   .content {
//     display: block;
//     font-size: 3.5rem;
//     padding-bottom: 15px;
//     margin-left: 120px;
//     img {
//       display: block;
//       padding: 5px 0;
//     }
//   }
//   .timestamp {
//     color: $#e8e8e8-light;
//     margin-left: 5px;
//   }
//   .like {
//     display: block;
//     color: $#e8e8e8-light;
//     font-size: 3rem;
//     margin-left: 120px;
//   }
//   .gravatar {
//     border-radius: 50%;
//     float: left;
//     margin-right: 10px;
//     margin-top: 15px;
//   }
//   .icon {
//     float: left;
//     margin-right: 10px;
//     margin-top: 15px;
//   }
// }

// .icon {
//   float: left;
//   margin-right: 15px;
// }

// aside {
//   textarea {
//     height: 5em;
//     margin-bottom: 5px;
//   }
// }

// span.picture {
//   margin-top: 10px;
//   input {
//     border: 0;
//   }
// }
