<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "アップデート情報", updates_path %></li>
    </ul>
  </nav>
    <small>
    <a href="#">© 2020 uminchu.com Inc. All Rights Reserved.</a>
  </small>
</footer>
